#root {
  height: 100%;
  // padding-bottom: 20px;

  .welcome-container {
    display: table;
    // margin: 0 auto;
  }
  .welcome-text {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: auto 0; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    @include animation("typewriter 0.4s steps(15) 0.4s 1 normal both");
    @include keyframes(typewriter) {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  }
  
  .info-container {
    .sub-info-container-1 {
      // display: flex;
      flex: 1.5;
      justify-content: flex-start;

      .intro-text {
        text-align: justify
      }
    }
    .sub-info-container-2 {
      display: flex;
      flex: 2;
      align-items: center;
      padding-left: 20px;
      flex-direction: column
    }

    .image-container {
      display: flex;
      flex-direction: row;
      width: 200px;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #ffffff;
      border-radius: 10px;
      
      -webkit-box-shadow: 2px 6px 15px 3px rgba(0,0,0,0.12);
      -moz-box-shadow: 2px 6px 15px 3px rgba(0,0,0,0.12);
      box-shadow: 2px 6px 15px 3px rgba(0,0,0,0.12);

      .image-title {
        margin-left: 10px
      }

      h4 h3 {
        padding: 0;
        margin: 0;
      }
    }
  }
}
